.navBar {
  display: flex;
  background-color: #1e293b;
  justify-content: space-between;
  color: white;
  padding: 5px;
}

.containerNav {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.menu {
  display: flex;
  gap: 10px;
}

.tituloNav {
  margin-top: 5px;
}
